/* .hero-section{
    background-image: url('/static/images/banner.jpg');
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero-contents{
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
} */
body{
    padding-top: 56px;
    
}
.hero-section {
    background-image: url('/static/images/banner.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.hero-content {
    max-width: 700px;
}

/*products card */
.card-img-top{
    height: 250px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}
.card-title{
    font-size: 1rem;
}
.card-body{
    font-size: small;
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  transition: opacity 0.3s ease;
}

.card:hover .card-img-top {
  opacity: 0.9;
}
